*{
    margin: 0;
    padding: 0;
}

body {
   
}


header{
   display: flex;
   justify-content: space-between;
  
   
} 

ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

